@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>RecipeKeeper</h1>
    <p class="lead">RecipeKeeper is a web app that simplifies your cooking! Take your recipe books and put them into the app , then be able to search via ingredients. For example , you want to look through all your recipes to use all those eggs you bought before they go bad! Instead of going through every book's index you can simply search eggs and immediately return any recipe that includes eggs! </p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
         First things first! You need to put all your books in. Click the books link  to begin!
        </p>
        <p><a class="btn btn-default" href="https://localhost:44324/Book">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Second Step!</h2>
        <p>Secondly , you need to add the recipes! This is the long part , I know but its worth it! Just like meal planning takes a while in the beginning it simplifies your life after! If one of your recipes has an ingredient that doesn't show up in the drop down list , look below!</p>
        <p><a class="btn btn-default" href="https://localhost:44324/Recipe">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Optional Step</h2>
        <p>The Ingredients are pre-loaded but obviously we can't have EVERYTHING so if you find we don't have *insert a very specific food* then go and click on ingredients and add it in! This will also allow you to look through and see what ingredients have already been added and also where you will be able to see all the recipes that use that ingredient!</p>
        <p><a class="btn btn-default" href="https://localhost:44324/Ingredient">Learn more &raquo;</a></p>
    </div>
</div>